---
import TestCalendar from "../components/TestCalendar.astro";
import Week from "../components/Week.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="relative flex min-h-screen flex-col justify-center text-white bg-black"
  >
    <div class="mx-auto w-5/6">
      <TestCalendar/>
      <!-- <div class="py-5"></div>
      <Week /> -->
      <!-- <Week /> -->
      <!-- <Week /> -->
      <!-- <Week /> -->
    </div>
  </body>
</html>
